
h1{
    text-align: center;
    color: #aaaaaa;
}

h2{
  text-align: left;
  color: #e84a4a;
  padding-top: 1%;
}

p{
  color: white;
  font-size: 16px;
  background-color: #aaaaaa;
  border-radius: 15px;
  width:20%;
  padding-left: 10px;
}
.bodyImageIndex  {
    background-image: url("medical-appointment-doctor-healthcare-40568.jpeg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: repeat;
}

.bodyImage  {
  background-image: url("pexels-photo-954585.jpeg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: repeat;
}
/*FANCY BUTTON*/
.buttonFancy {
    display: inline-block;
    border-radius: 5px;
    border: 1px;
    background-color: #4c5ce8;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 30%;
    height: 30PX;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .buttonFancy span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .buttonFancy span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
    font-size:72;
  }
  
  .buttonFancy:hover span {
    padding-right: 25px;
  }
  
  .buttonFancy:hover span:after {
    opacity: 1;
    right: 0;
  }
  /*FANCY BUTTON END*/
  /*Dvo stolpicni layout*/
  .column {
    float: left;
    margin-left: 10px;
    width: 49%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
  /*Dvo stolpicni layout end*/

  /*dodaj pacienta*/
  .mojInput{
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 100%;
    border-color: white;
    border-style: solid;
    margin-top: 1%;
  }
  .belKvadrat{
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 40%;
    color: white;
  }

  .modrNaslov{
    background-color: #4c5ce8;
    color: white;
    border-radius: 15px;
    text-align: center;
  }

  .rdecKvadrat {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    background-color: #e84a4a;
    border-radius: 15px;
    text-align: center;
  }

  .moderKvadrat {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    background-color: #4c5ce8;
    border-radius: 15px;
    text-align: center;
  }

  .redButton {
    background-color: #e84a4a;
    color: white;
    align-self: center;
    border-radius: 5px;
    border-color: #e84a4a;
    border-style: solid;
    font-size: 16px;
    width: 20%;
  }

  .blueButton {
    background-color: #4c5ce8;
    color: white;
    align-self: center;
    border-radius: 5px;
    border-color: #4c5ce8;
    border-style: solid;
    font-size: 16px;
    width: 20%;
  }

  .poravnajNaSredo{
    padding-top: 1%;
    text-align:center;
  }

  .mojPragraf{

  }

  .obvestilo{
    font-size: 21px;
    background: #4cc85c;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
  }

  .dropDown{
    color:black;
    background: white;
    border-color: white;
    border-radius: 5px;
    width: 20%;
  }
  .mojChart div {
    font: 20px sans-serif;
    background-color: #aaaaaa;
    text-align: left;
    padding: 3px;
    margin: 1px;
    color: white;
    border-radius: 10px;
    }

  .skrij{
    background: transparent;
    border: 0px;
    outline: none;
  }

  #podatkiSkrij, #chart1, #chart2{
    display: none;
  }

.normal{
  
}